.nav{
    height: 8vh;
    width: 90%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #CCCCCC;
    padding: 0px 20px;
}

.nav .logo{
    height: 90%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav .logo img{
    height: 30px;
    width: 30px;
}

.nav .profileandnotification{
    height: 100%;
    width: auto;
     gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.nav .profileandnotification img{
    height: 35px;
    width: 35px;
    margin-top: 5px;
}


@media (max-width:480px) {
    .nav{
        width: 90%;
    }

    .nav .profileandnotification{
        display: flex;
        gap: 10px;
    width: auto;
    margin-right: 10px;
}

.nav .right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 5px;
}

}

